Version 1.0.1

# Pandas basics

Hi! In this programming assignment you need to refresh your `pandas` knowledge. You will need to do several [`groupby`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html)s and [`join`]()`s to solve the task.

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline 

from grader import Grader

In [2]:
DATA_FOLDER = '../readonly/final_project_data/'

transactions    = pd.read_csv(os.path.join(DATA_FOLDER, 'sales_train.csv.gz'))
items           = pd.read_csv(os.path.join(DATA_FOLDER, 'items.csv'))
item_categories = pd.read_csv(os.path.join(DATA_FOLDER, 'item_categories.csv'))
shops           = pd.read_csv(os.path.join(DATA_FOLDER, 'shops.csv'))

The dataset we are going to use is taken from the competition, that serves as the final project for this course. You can find complete data description at the [competition web page](https://www.kaggle.com/c/competitive-data-science-final-project/data). To join the competition use [this link](https://www.kaggle.com/t/1ea93815dca248e99221df42ebde3540).

## Grading

We will create a grader instace below and use it to collect your answers. When function `submit_tag` is called, grader will store your answer *locally*. The answers will *not* be submited to the platform immediately so you can call `submit_tag` function as many times as you need. 

When you are ready to push your answers to the platform you should fill your credentials and run `submit` function in the <a href="#Authorization-&-Submission">last paragraph</a>  of the assignment.

In [3]:
grader = Grader()

# Task

Let's start with a simple task. 

<ol start="0">
  <li><b>Print the shape of the loaded dataframes and use [`df.head`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html) function to print several rows. Examine the features you are given.</b></li>
</ol>

In [56]:
# YOUR CODE GOES HERE
print ("transactionssssssssssss")
print (transactions.shape)
print (transactions.head(10))


print ("itemsssssssssssss")
print (items.shape)
print (items.head(30))

print ("item_categoriessssssssss")
print (item_categories.shape)
print (item_categories.head(3))

print ("shopsssssss")
print (shops.shape)
print (shops.head(3))

transactionssssssssssss
(2935849, 9)
         date  date_block_num  shop_id  item_id  item_price  item_cnt_day day  \
0  02.01.2013               0       59    22154      999.00           1.0  02
1  03.01.2013               0       25     2552      899.00           1.0  03
2  05.01.2013               0       25     2552      899.00          -1.0  05
3  06.01.2013               0       25     2554     1709.05           1.0  06
4  15.01.2013               0       25     2555     1099.00           1.0  15
5  10.01.2013               0       25     2564      349.00           1.0  10
6  02.01.2013               0       25     2565      549.00           1.0  02
7  04.01.2013               0       25     2572      239.00           1.0  04
8  11.01.2013               0       25     2572      299.00           1.0  11
9  03.01.2013               0       25     2573      299.00           3.0  03

  month  Year
0    01  2013
1    01  2013
2    01  2013
3    01  2013
4    01  2013
5    01  2013
6    01  2013
7    01  2013
8    01  2013
9    01  2013
itemsssssssssssss
(22170, 3)
                                            item_name  item_id  \
0           ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D        0
1   !ABBYY FineReader 12 Professional Edition Full...        1
2       ***В ЛУЧАХ СЛАВЫ   (UNV)                    D        2
3     ***ГОЛУБАЯ ВОЛНА  (Univ)                      D        3
4         ***КОРОБКА (СТЕКЛО)                       D        4
5   ***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ  (UNI)         ...        5
6            ***УДАР ПО ВОРОТАМ (UNI)               D        6
7          ***УДАР ПО ВОРОТАМ-2 (UNI)               D        7
8            ***ЧАЙ С МУССОЛИНИ                     D        8
9       ***ШУГАРЛЭНДСКИЙ ЭКСПРЕСС (UNI)             D        9
10          *ЗА ГРАНЬЮ СМЕРТИ                       D       10
11          *ЛИНИЯ СМЕРТИ                           D       11
12                    *МИХЕЙ И ДЖУМАНДЖИ  Сука любовь       12
13          *СПАСАЯ ЭМИЛИ                           D       13
14          *ЧОКНУТЫЙ ПРОФЕССОР /МАГИЯ/             D       14
15             //АДРЕНАЛИН: ОДИН ПРОТИВ ВСЕХ (Регион)       15
16                         //МОНГОЛ С.Бодров (Регион)       16
17                    //НЕ ОСТАВЛЯЮЩИЙ СЛЕДА (Регион)       17
18          /БОМБА ДЛЯ НЕВЕСТЫ /2DVD/               D       18
19                          /ЗОЛОТАЯ КОЛЛЕКЦИЯ м/ф-72       19
20                                 /ОДНАЖДЫ В КИТАЕ-2       20
21                                    /ПОСЛЕДНИЙ ШАНС       21
22                               /ПРОКЛЯТЬЕ ЭЛЬ ЧАРРО       22
23                                  /СЕВЕР И ЮГ /Ч.2/       23
24                               /СМЕРТЕЛЬНЫЙ РАСКЛАД       24
25                                        /ТЫ  - ТРУП       25
26                   /УМНОЖАЮЩИЙ ПЕЧАЛЬ т.2 (сер.3-4)       26
27                  007 Legends [PS3, русская версия]       27
28            007 Legends [PС, Jewel, русская версия]       28
29             007 Legends [Xbox 360, русская версия]       29

    item_category_id
0                 40
1                 76
2                 40
3                 40
4                 40
5                 40
6                 40
7                 40
8                 40
9                 40
10                40
11                40
12                55
13                40
14                40
15                40
16                40
17                40
18                40
19                40
20                40
21                40
22                40
23                40
24                40
25                40
26                40
27                19
28                30
29                23
item_categoriessssssssss
(84, 2)
        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
shopsssssss
(60, 2)
                       shop_name  shop_id
0  !Якутск Орджоникидзе, 56 фран        0
1  !Якутск ТЦ "Центральный" фран        1
2               Адыгея ТЦ "Мега"        2

Now use your `pandas` skills to get answers for the following questions. 
The first question is:

1. ** What was the maximum total revenue among all the shops in September, 2014?** 


* Hereinafter *revenue* refers to total sales minus value of goods returned.

*Hints:*

* Sometimes items are returned, find such examples in the dataset. 
* It is handy to split `date` field into [`day`, `month`, `year`] components and use `df.year == 14` and `df.month == 9` in order to select target subset of dates.
* You may work with `date` feature as with srings, or you may first convert it to `pd.datetime` type with `pd.to_datetime` function, but do not forget to set correct `format` argument.

In [46]:
# YOUR CODE GOES HERE

# df_transactions = transactions.copy()
transactions['day'] = [d.split('.')[0] for d in transactions.date]
transactions['month'] = [d.split('.')[1] for d in transactions.date]
transactions['Year'] = [d.split('.')[2] for d in transactions.date]
df_transactions = transactions.copy()

df_transactions = df_transactions.loc[(df_transactions['month'] == '09')&(df_transactions['Year'] == '2014')]
df_transactions['revenue'] = df_transactions['item_cnt_day']*df_transactions['item_price']

g = df_transactions.groupby('shop_id')['revenue'].sum()

# for shop_id, shop_id_df in g:
#     print (shop_id)
#     print(shop_id_df)

# print (g.sum())
# print (g.sum().max())

print (g)
print (g.max())
# df_transactions['Day'] = pd.DatetimeIndex(df_transactions['date']).day
# df_transactions['Month'] = pd.DatetimeIndex(df_transactions['date']).month
# df_transactions['Year'] = pd.DatetimeIndex(df_transactions['date']).year



max_revenue = 7982852.2
grader.submit_tag('max_revenue', max_revenue)

shop_id
2     1.473540e+06
3     1.228425e+06
4     1.211556e+06
5     1.350828e+06
6     3.480397e+06
7     2.127491e+06
10    7.744040e+05
12    6.378335e+06
14    1.499621e+06
15    2.383940e+06
16    1.919162e+06
17    1.385955e+06
18    2.132611e+06
19    2.050485e+06
21    2.023241e+06
22    2.175790e+06
24    1.956968e+06
25    6.783338e+06
26    2.504839e+06
27    4.899292e+06
28    4.985847e+06
29    2.071339e+06
30    1.902539e+06
31    7.982852e+06
33    5.391150e+05
34    4.829700e+05
35    2.323137e+06
37    1.401708e+06
38    2.472334e+06
39    7.788630e+05
40    3.538670e+05
41    1.133782e+06
42    4.753366e+06
43    2.793483e+06
44    1.049887e+06
45    1.199660e+06
46    2.703858e+06
47    2.487424e+06
48    1.463744e+06
49    8.754520e+05
50    1.872948e+06
51    7.650010e+05
52    1.520397e+06
53    1.914577e+06
54    4.839335e+06
55    1.794684e+06
56    1.780582e+06
57    3.223198e+06
58    1.949760e+06
59    1.567666e+06
Name: revenue, dtype: float64
7982852.2
Current answer for task max_revenue is: 7982852.2

Great! Let's move on and answer another question:

<ol start="2">
  <li><b>What item category generated the highest revenue in summer 2014?</b></li>
</ol>

* Submit `id` of the category found.
    
* Here we call "summer" the period from June to August.

*Hints:*

* Note, that for an object `x` of type `pd.Series`: `x.argmax()` returns **index** of the maximum element. `pd.Series` can have non-trivial index (not `[1, 2, 3, ... ]`).

In [50]:
# YOUR CODE GOES HERE
dg_transactions = transactions.copy()
dg_transactions = dg_transactions.loc[((dg_transactions['month'] == '06') | (dg_transactions['month'] == '07')| (dg_transactions['month'] == '08'))&(dg_transactions['Year'] == '2014')]
dg_transactions['revenue'] = dg_transactions['item_cnt_day']*dg_transactions['item_price']
dg_transactions['category'] = [ items.item_category_id.iloc[item] for item in dg_transactions['item_id']]

h = dg_transactions.groupby('category').sum()
# print(f)

print (h['revenue'].argmax())
# print (f.loc[(f['item_id'] == '6675')])
# print (f['revenue'].argmax())
# for item_id, item_id_df in f:
#     print (item_id)
#     print(item_id_df)

category_id_with_max_revenue = 20 # PUT YOUR ANSWER IN THIS VARIABLE
grader.submit_tag('category_id_with_max_revenue', category_id_with_max_revenue)

20
Current answer for task category_id_with_max_revenue is: 20

<ol start="3">
  <li><b>How many items are there, such that their price stays constant (to the best of our knowledge) during the whole period of time?</b></li>
</ol>

* Let's assume, that the items are returned for the same price as they had been sold.

In [8]:
# YOUR CODE GOES HERE
# DUM = transactions[:50]


# for item_id, item_id_df in DUM.groupby('item_id'):
#     print ("ITEM_ID %d" %item_id)
#     print(item_id_df)

L = transactions.groupby('item_id').agg(lambda x: len(set(x)) == 1)['item_price'].sum()

print("mehdiooooooooooooooooooooooooooooooooooo")
print (L)




num_items_constant_price =5926 # PUT YOUR ANSWER IN THIS VARIABLE
grader.submit_tag('num_items_constant_price', num_items_constant_price)

mehdiooooooooooooooooooooooooooooooooooo
5926.0
Current answer for task num_items_constant_price is: 5926

Remember, the data can sometimes be noisy.

<ol start="4">
  <li><b>What was the variance of the number of sold items per day sequence for the shop with `shop_id = 25` in December, 2014? Do not count the items, that were sold but returned back later.</b></li>
</ol>

* Fill `total_num_items_sold` and `days` arrays, and plot the sequence with the code below.
* Then compute variance. Remember, there can be differences in how you normalize variance (biased or unbiased estimate, see [link](https://math.stackexchange.com/questions/496627/the-difference-between-unbiased-biased-estimator-variance)). Compute ***unbiased*** estimate (use the right value for `ddof` argument in `pd.var` or `np.var`).

In [38]:
shop_id = 25


shop_id_25_dec_2014 = transactions.loc[(transactions['month'] == '12')&(transactions['Year'] == '2014') ]
shop_id_25_dec_2014 = shop_id_25_dec_2014.loc[(transactions['shop_id'] == 25)]
shop_id_25_dec_2014 = shop_id_25_dec_2014.sort_values(by=['day'])
#print (shop_id_25_dec_2014.head(10))


u= shop_id_25_dec_2014.groupby('day')['item_cnt_day'].sum()

print (np.var(u,ddof=1))

# item_cnt_day =[]
# i=1
# for item_cnt, item_cnt_df in u:
#     print (i)
#     print (item_cnt)
#     print(item_cnt_df)
#     item_cnt_day.append(item_cnt_df.sum())
#     i+=1

# print(item_cnt_day)

# total_num_items_sold =shop_id_25_dec_2014.groupby('day')['item_cnt_day'].sum() # YOUR CODE GOES HERE
# days = shop_id_25_dec_2014['day']# YOUR CODE GOES HERE

# # # Plot it
# plt.plot(days, total_num_items_sold)
# plt.ylabel('Num items')
# plt.xlabel('Day')
# plt.title("Daily revenue for shop_id = 25")
# plt.show()

total_num_items_sold_var = 117167.70229885059 # PUT YOUR ANSWER IN THIS VARIABLE
grader.submit_tag('total_num_items_sold_var', total_num_items_sold_var)

117167.70229885059
Current answer for task total_num_items_sold_var is: 117167.70229885059

## Authorization & Submission
To submit assignment to Cousera platform, please, enter your e-mail and token into the variables below. You can generate token on the programming assignment page. *Note:* Token expires 30 minutes after generation.

In [53]:
STUDENT_EMAIL = "mehdi.mashayekhi.65@gmail.com" # EMAIL HERE
STUDENT_TOKEN = "CjCcAKOd9kKjcD3n" # TOKEN HERE
grader.status()

You want to submit these numbers:
Task max_revenue: 7982852.2
Task category_id_with_max_revenue: 20
Task num_items_constant_price: 5926
Task total_num_items_sold_var: 117167.70229885059

In [54]:
grader.submit(STUDENT_EMAIL, STUDENT_TOKEN)

Submitted to Coursera platform. See results on assignment page!

Well done! :)